@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

.heart-btn {
  color: #ffd700;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid #ffd700;
  margin-top: 25px;
  float: left;
  white-space: nowrap;
  animation: fadeIn 1s 1.8s backwards;
  .heart {
    position: absolute;
    background: url('img.png') no-repeat;
    background-size: 2900%;
    height: 90px;
    width: 90px;
    transform: translate(-50%, -35%);
  }
  &:hover {
    .heart {
      animation: animate 0.8s steps(28) 1;
      background-position: right;
    }
  }
}
.content {
  padding: 13px 16px;
  display: flex;
  border-radius: 5px;
  cursor: pointer;
}
.content.heart-active {
  border-color: #f9b9c4;
  background: #fbd0d8;
}
.text {
  font-size: 21px;
  margin-left: 30px;
  color: grey;
  font-family: 'Montserrat', sans-serif;
}
.text.heart:hover {
  color: #000;
}
@keyframes animate {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
